@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);



html, body {
    cursor: url("./cursor.svg"), auto; 	
}

body {

    font-family: "Montserrat";
    font-size  : 1rem;
    overflow   : hidden;

}

.content {
    display        : flex;
    justify-content: center;
    align-items    : center;
    z-index        : 10;
}



.content__button {
    position  : absolute;
    transition: all 0.2s ease-in-out;
}

.content__button:hover {
    transform: scale(1.5);
}


.content__data {
    width                : 100vw;
    height               : 100vh;
    display              : grid;
    position             : fixed;
    top                  : 0;
    left                 : 0;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows   : 1fr;
    height               : 100vh;
    z-index              : 10;
    background-color     : rgba(0, 0, 0, 0.7);


}


.content__leftside,
.content__rightside {
    display        : flex;
    align-items    : center;
    justify-content: center;
    color          : white;
}

.content__leftside>.content__healthbar {
    transform: scale(-1, -1);
}

.content__middleside {
    display        : flex;
    align-items    : center;
    justify-content: center;
    position       : relative;
}

.content__healthbar {
    width  : 50%;
    z-index: 10;
}

video {
    z-index   : -10;
    background: black;
    height    : 100vh;
    width     : 100vw;
    object-fit: fill;
}


.content__video {
    z-index  : -10;
    position : fixed;
    top      : 0;
    left     : 0;
    min-width: 100%;
    width    : 100vw;

}

/* Popup style */
.popup-box {
    position  : fixed;
    background: #00000050;
    width     : 100%;
    height    : 100vh;
    top       : 0;
    left      : 0;
    z-index: 30;
}

.box {
    position     : relative;
    width        : 70%;
    margin       : 0 auto;
    height       : auto;
    max-height   : 70vh;
    margin-top   : calc(100vh - 85vh - 20px);
    background   : #fff;
    border-radius: 4px;
    padding      : 20px;
    border       : 1px solid #999;
    overflow     : auto;
}

.close-icon {
    content      : 'x';
    cursor       : pointer;
    position     : fixed;
    right        : calc(15% - 30px);
    top          : calc(100vh - 85vh - 33px);
    background   : #ededed;
    width        : 25px;
    height       : 25px;
    border-radius: 50%;
    line-height  : 20px;
    text-align   : center;
    border       : 1px solid #999;
    font-size    : 20px;
}



@media (max-width: 680px) {
    .content__data {
        display              : grid;
        grid-template-columns: 1fr;
        grid-template-rows   : 100px 1fr 100px;
    }

    .content__leftside,
    .content__rightside {
        display        : flex;
        align-items    : center;
        justify-content: center;
        position       : relative;
    }

    .content__rightside>.content__healthbar {
        height   : 400%;
        transform: rotate(-90deg);
    }

    .content__leftside>.content__healthbar {
        height   : 400%;
        transform: rotate(90deg);
    }



    .content__leftside>.content__hb-value {
        position: absolute;

    }


    .content__rightside>.content__hb-value {
        position: absolute;
    }

}


.popup-box {
    transition: all 2s ease-in-out;

}

.box__button {
    font-size: 1rem;
    margin: 3rem 0px 0px 0px;
    width: fit-content;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    padding: 1rem;
}